$max_width: 1440px;
$accent-color: #f37521;
$grey: #262626;
$latte: #fcf6e6;

.about_hero {
  background-image: url("/assets/img/about_hero.webp");
  background-size: cover;
  background-position: bottom;
  margin: 0;
  padding: 12rem 0 5rem 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    translate: -50% 0;
    bottom: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(transparent, $grey);
    pointer-events: none;
    z-index: 1;
  }

  &>* {
    position: relative;
    z-index: 2;
  }

  .left_text {
    white-space: nowrap;
    margin-bottom: 3rem;
    z-index: 2;
  }

  .about_cards {
    width: 100%;
    gap: 1rem;
    max-width: 1000px;
    align-items: stretch;
    justify-content: center;

    .about_card {
      padding: 2rem;
      background-color: #262626;
      border: solid 1px #383838;
      flex: 1;
      border-radius: 1rem;
      position: relative;

      img {
        position: absolute;
        right: 2rem;
        top: 1rem;
        height: 60%;

      }

      .tab {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #2C2C2C;
        border: solid 1px #383838;
        color: $accent-color;
        padding: 0.25rem 0.5rem;
      }

      h1 {
        margin-bottom: 1rem;
      }

      p {
        margin-top: auto;
      }
    }
  }

  .scroll_down {
    margin-top: 5rem;
  }
}

$carousel-width: 2500px;

.carousel {
  width: 100%;
  margin-top: -5rem;
  z-index: 2;

  .carousel_inner {
    width: 100%;
    animation: scroll 20s linear infinite;
    justify-content: flex-start;
  }

  img {
    width: calc($carousel-width / 8);
    /* Adjust based on your design */
  }

  //   &:hover {
  //     .carousel_inner {
  //       animation-play-state: paused;
  //     }
  //   }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(($carousel-width / 2) * -1));
  }
}

.performance {
  margin-top: 0;
  margin-bottom: 3rem;

  .section_content {
    gap: 3rem;
    justify-content: center;
  }

  .p_cards {
    margin-top: 4rem;

    .p_card {
      text-align: center;
      padding: 0 2rem;
      border-right: 1px solid #353434;

      img {
        width: 3.5rem;
        margin-bottom: 1rem;
      }

      strong {
        font-size: 1.5rem;
      }

      em {
        opacity: 0.5;
      }

      &:last-child {
        border: none;
      }
    }
  }

  .model {
    width: 22rem;
    display: grid;
    grid-template-areas: "stack-layer";
    place-content: center;

    img {
      grid-area: stack-layer;
      width: 100%;
    }
  }
}

.why {
  color: white;
  padding: 5rem 0;
  background: linear-gradient(#202020, #262626);
  border-top: solid 1px #383838;

  .section_content {
    justify-content: center;
    gap: 3rem;
  }

  .list {
    margin: 1rem 0 2rem;
  }

  .why_right {
    justify-content: flex-end;

    img {
      width: 20rem;
      z-index: 2;
      transform-style: preserve-3d;

      &:last-child {
        margin-left: -5rem;
        z-index: 1;
        margin-top: 5rem;
      }
    }
  }
}

.grid_cards {

  .grids {
    max-width: 800px;
    align-items: stretch;
    gap: 1rem;
    margin: 5rem 0;
  }

  .grid_img {
    width: 30%;
    object-fit: cover;
    object-position: center;
    border-radius: 2rem;
  }

  .cards {
    gap: 1rem;

  }

  .card {
    width: 100%;
    background: linear-gradient(to right, $latte, white);
    padding: 2rem;
    border-radius: 2rem;
    color: #000000;

    h1 {
      margin-bottom: 1rem;
    }

    .tag {
      color: #848484;
      font-family: arial;
    }

    li {
      margin-top: 0.5rem;

      a {
        color: black;
        gap: 0.5rem;

        &:hover {
          color: $accent-color;
          text-decoration: underline;
        }
      }

      img {
        width: 0.75rem;
      }
    }
  }
}


// .vsms {
//   .section_content {
//     max-width: 1200px;
//     gap: 3rem;
//   }

//   .vm_item {
//     gap: 3rem;
//     align-items: flex-end;

//     .model {
//       width: 36rem;
//       display: grid;
//       grid-template-areas: "vsms-stack";
//       place-content: center;

//       img {
//         grid-area: vsms-stack;
//         width: 100%;
//       }
//     }

//     .col {
//       flex: 1;

//       img {
//         width: 5rem;
//         margin-bottom: 1rem;
//       }
//     }
//   }
// }

// .end_hero {
//   margin-bottom: 0;
//   background-color: $latte;

//   .section_content {
//     justify-content: center;
//     gap: 2rem;
//   }

//   .cta_btn {
//     margin-top: 1rem;
//   }

//   img {
//     width: 45%;
//     max-width: 36rem;
//   }
// }

@media screen and (max-width: 1050px) {
  .performance {
    .section_content {
      flex-direction: column;
      align-items: center;

      .model {
        margin: 0;
        width: 20rem;
      }
    }
  }

  .why {
    .section_content {
      flex-direction: column;
      gap: 3rem;

      .why_right {
        margin: 0;
        justify-content: center;

        img {
          width: 60%;
        }
      }
    }
  }

  .vsms {
    .vm_item {
      .model {
        width: 24rem;
      }

      .col {
        img {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .about_hero {
    p {
      padding-left: 0;
    }

    .about_cards {
      flex-direction: column;
    }
  }

  .grid_cards {
    .grids {
      flex-direction: column;

      .grid_img {
        display: none;
      }
    }
  }

  .vsms {
    .vm_item {
      flex-direction: column;

      .model {
        width: 100%;
      }

      .col {
        img {
          display: none;
        }
      }
    }
  }

  .end_hero {
    .section_content {
      flex-direction: column;
      padding-top: 4rem;

      img {
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .performance {
    .p_cards {
      flex-direction: column;
      width: 100%;

      .p_card {
        border: none;
        width: 100%;
        border-bottom: 1px solid #353434;
        padding: 2rem 0;
        position: relative;
        padding-left: 8rem;
        align-items: flex-start;
        text-align: left;

        img {
          position: absolute;
          left: 2rem;
          top: 50%;
          translate: 0 -50%;
        }
      }
    }
  }
}